body{
    margin: 0;
    padding: 0;
    background-color: #e6f7f5;
}

.container{
    height: 100vh;
    width: 100vw;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container .header{
    background-color: #34495e;
    height: fit-content;
    width: 100%;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
}

.header h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    transition: transform .2s;
}

.header h1:hover{
    transform: scale(1.2);
}

.container .sub-container{
    min-height: 0;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .sub-container .block1{
    flex: 1;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    width: auto;
    max-height: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.form-group{
    background-color: #aed6f1;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

input{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1c2833;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
input::placeholder{
    text-align: start;
    color: #95a5a6;
}

input:hover{
    transform: scale(1.2);
}

select{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1c2833;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
select:hover{
    transform: scale(1.2);
}

textarea{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1c2833;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
textarea:hover{
    transform: scale(1.2);
}

label{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #2c3e50;
    font-weight: normal;
    font-style: normal;
}

button{
    margin-top: 25px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #5dade2;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    color: white;
    transition: transform .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
button:hover{
    background-color: #af7ac5;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: scale(1.2);
}

.container .sub-container .block2{
    flex: 1;
    overflow: auto;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    width: auto;
    max-height: 100%;
    background-color: #fefefe;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.container .sub-container .block2 .task-block .task-header{
    background-color: #5d6d7e;
    padding: 1px;
    margin: 1px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.container .sub-container .block2 .task-block .task-body{
    background-color: #85929e;
    padding: 1px;
    margin: 1px;
    color: white;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    transition: transform .2s;
}

.container .sub-container .block2 .task-block .task-body:hover{
    transform: scale(1.2);
}
