body{
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

.container{
    height: 100vh;
    width: 100wh;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #5f27cd;
    height: fit-content;
    width: 100wh;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.header h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    transition: transform .2s;
}

.header h1:hover{
    transform: scale(1.2);
}

.sub-container{
    height: 100%;
    width: 100wh;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.block1{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    background-color: #1e90ff;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

input{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1a1a1a;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #e0f7fa;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
input::placeholder{
    text-align: start;
    color: #555555;
}

input:hover{
    transform: scale(1.2);
}

select{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1a1a1a;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #e0f7fa;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
select:hover{
    transform: scale(1.2);
}

textarea{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1a1a1a;
    text-align: start;
    font-weight: normal;
    font-style: normal;
    transition: transform .2s;
    background-color: #e0f7fa;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
textarea:hover{
    transform: scale(1.2);
}

label{
    flex: 1;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
}

button{
    margin-top: 25px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #00b894;
    border: 2px solid #2d3436;
    border-radius: 5px;
    color: white;
    transition: transform .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
button:hover{
    background-color: #fd79a8;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: scale(1.2);
}

.block2{
    background-color: #2d3436;
    width: 100%;
    height: 100%;
}
