<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginFailed</title>
    <link
      rel="stylesheet"
      href="
    login-failed.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="block1">
        <img src="login-failure.png" alt="LoginFailed" />
      </div>
      <div class="block2">
        <h1>Login Unsuccessful</h1>
        <h2>
          Oops! We couldn't log you in. Please double-check your email and
          password and try again.
        </h2>
        <h2>
          If you’ve forgotten your password, you can reset it easily from the
          login page. Still having trouble? Our support team is here to help.
        </h2>
      </div>
    </div>
  </body>
</html>
