<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginSuccess</title>
    <link rel="stylesheet" href="login-success.css" />
  </head>
  <body>
    <div class="container">
        <div class="block1">
            <img src="login_user.png" alt="LoginSuccess">
        </div>
        <div class="block2">
            <h1>
                You’ve successfully logged in. Welcome aboard — we're glad to have you
                here!
              </h1>
              <h2>
                Feel free to explore and make the most of your experience. If you need
                any help along the way, we’re always here to assist you.
              </h2>
              <h2>Enjoy your journey with us!</h2>
        </div>
      
    </div>
  </body>
</html>
