<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zentask</title>
  <link rel="stylesheet" href="task.css">
</head>
<body>
  
  <div class="container">
    <div class="header">
      <h1>Schedule Smarter. Get More Done.”
        Organize your time, prioritize what matters, and boost productivity.
      </h1>
    </div>
    <div class="sub-container">
      <div class="block1">

        <form action="/form-signup" method="post"></form>
        <div class="form-group">
          <label for="Title">Title:</label>
          <input type="text" name="title", id="title" placeholder="Title for task" required>
        </div>
        <div class="form-group">
          <label for="Description">Description:</label>
          <textarea name="description" id="description" rows="5" cols="30" placeholder="Describe your task here.." required>
          </textarea>
        </div>
        <div class="form-group">
          <label for="Status">Status:</label>
          <select name="status_list" id="status_list">
            <option value="Not-Started">Not Started</option>
            <option value="In-Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="DueDate">Due Date:</label>
          <input type="date" name="dueDate", id="dueDate" placeholder="DD-MM-YYYY" required>
        </div>
        <div class="form-group">
          <label for="Priority">Priority:</label>
          <select name="status_list" id="status_list">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button">Submit</button>
        </div>
      </div>
  
      <div class="block2">
  
      </div>
    </div>
    </div>

</body>
</html>